<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="index.js"></script>
    <title>Document</title>
</head>
<body>
    Itt lesz valami
    <p></p>
    <%= name%>
    <%= email%>
    <button id="logout">Log out</button>
    
    <button id="getWeights">get weights</button>
    <script>
        let name= "<%= name%>";
        let email= "<%= email%>";
    </script>
    
</body>
</html>